<button (click)="logout()">Log out</button>


<button (click)="addTask()">Try to add</button>
<div *ngIf="tasks$" >
  <ul>
    <li *ngFor="let task of tasks$ | async">
      <mat-card (click)="editTask(task.id)">
        <mat-card-header>
          <mat-card-title>{{task.subject}}</mat-card-title>
        </mat-card-header>
      <div *ngIf="task.body.length === 1">
        <mat-card-content>{{task.body[0].body}}</mat-card-content>
      </div>

        <div *ngIf="task.body.length !== 1">
          <mat-card-content>{{task.body.length}} tasks</mat-card-content>
        </div>
      <mat-card-actions>
        <button (click)="deleteTask(task.id)">Delete</button>
      </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>


